# System & Python cache files
__pycache__
__pycache__/*
*.pyc
.DS_Store
**/.DS_Store
# Archive folders
archive
archive*
archive/*
SHKAIRA/*
**/archive
# Backup during training
*.pth
*.pth*
**/*.pth*
# Generated
trainingData.txt

# No need to commit those, they are raw files
data/CHARIS
*.tmp
school/library/trainingData.txt
school/library/trainingData-.txt
school/library/TrainingData--.txt
school/library/trainingData*
school/library/simpleTraining/lineSortedData.txt
school/statistics/LOGS/dataArchive/*term-*.txt
school/library/learning/mhh_ei_for_ai_model.md
school/statistics/LOGS/chat
school/library/trainingDataNOW.txt
brain/soul/*

# IMPORTANT - NEVER COMMIT!!
secret.py 
school/library/charisStudies
# IMPORTANT - NEVER COMMIT!!
*.aseprite
brain/bbyBODY.json
brain/bbyBODYflatnew.gif
brain/bbyBODYflatold.gif
brain/bbyEYES_closed.json
x
school/statistics/LOGS/training/trainingLog_100.txt
school/statistics/LOGS/training/trainingLog_100.txt
/model_parameters
userNicknames.json
school/library/logic.txt
school/library/pt1.txt
school/library/pt2.txt
school/library/pt3.txt
school/library/curriculum.txt
school/library/f.f.
school/library/pt4.txt
school/library/pt5.txt
similarity_matrix.csv
babyLove.json
spamLevel.json
migrate.py
presenceCheck.py
babyLove.json
*.raw
phone/discord_bot/chatHistory.json
