# System & Python cache files
__pycache__
__pycache__/*
*.pyc
.DS_Store
**/.DS_Store
# Archive folders
archive
archive*
archive/*
**/archive
# Backup during training
*.pth
# Generated
trainingData.txt
# No need to commit those, they are raw files
data/CHARIS
SCHOOL/library/charisStudies
*.pth copy
*.pth copy 2
*.pth copy 4
*.pth EARLYSELFTRAIN
*.pth PRE SELF TRAIN
*.pth early self train with reset parameters
SCHOOL/statistics/LOGS/training/trainingLog_1000.txt
SCHOOL/statistics/LOGS/training/trainingLog_1000.txt
SCHOOL/statistics/LOGS/training/trainingLog_1000.txt
*.pth copy 3
*.pth copy 5
*.pth copy 6
*.pth copy 7
*.tmp
SCHOOL/library/trainingData-.txt
SCHOOL/library/TrainingData--.txt
SCHOOL/library/TrainingData--.txt
SCHOOL/library/TrainingData--.txt
SCHOOL/library/TrainingData--.txt
SCHOOL/library/simpleTraining/lineSortedData.txt
SCHOOL/statistics/LOGS/dataArchive/*term-*.txt
SCHOOL/library/learning/mhh_ei_for_ai_model.md
